/* Import Nunito font - a rounded, friendly font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

/* Apply Nunito to the author name */
.hb-author-name,
h1.hb-author-name,
.hb-author-card h1,
[class*="author"] h1 {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700 !important;
}
